div.sub-header-wrapper {
  font-size: 2em;
}

.buttonForIds {
  position: relative;
  padding: 15px;
  cursor: pointer;
  color: white;
  background-color: greenyellow;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.notes {
  padding-left: 45px;
}

.loadingImage{
  position: absolute;
  top: -35px;
  left: 35px;
}

.loadingImage img {
  width: 190px;
}

.buttonForIds.transparentBackground{
  background-color: rgba(172, 255, 47, 0.300);
  color: rgba(255, 255, 255, 0.200);
  cursor: auto;
}

.title-card{
  position: relative;
}
/*
.infoDiv{
  position: absolute;
  top: 102px;
  left: 5px;
  border: 0px;
}
*/
.info{
  font-size: 1.4em;
}
